body {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
	font-size: 10pt;
}

td {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
	font-size: 10pt;
}

th {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
	font-size: 10pt;
}
